@tailwind base;
@tailwind components;

body {
  @apply .text-brand-navy;
}

/* Blur the app when a modal is present */
#__next[aria-hidden='true'] {
  filter: blur(1.5px);
}
[data-reach-dialog-overlay] {
  background: transparent;
}

[data-reach-dialog-content] {
  @apply .max-w-4xl !important;
  width: 100% !important;
  background-color: transparent !important;
  padding: 0 !important;
}

@tailwind utilities;
